body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #703b12;

}



nav .logo img {
    max-width: 80px;
    height: auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#3e2203;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f7dcb6;
    font-weight: bold;
}

nav ul li a:hover {
    color: #5b3813;
}

nav .cart-icon {
    font-size: 24px;
}




.hero {
    position: relative;
    text-align: center;
    padding: 150px 20px;
    background: linear-gradient(to bottom right, #522711, #aa7a4fe4);
    color: #f7dcb6;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 0;
}

.hero h1 {
    font-size: 56px;
    margin: 10px 0;
}

.hero h2 {
    font-size: 34px;
    margin: 20px 0;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #663813;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    position: relative;

}

.hero-button:hover {
    background-color: #a06943;
}
.hero img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}






.sobre {
    background: linear-gradient(rgb(67, 37, 5), rgba(96, 63, 13, 0.906)), 
                url('img/imagem_sobre.png') no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    position: relative;
}

.sobre-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.sobre h2 {
    font-size: 30px;
    color:#f7dcb6;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 18px;
    color: #e1c49a;
    line-height: 1.6;
    margin-bottom: 20px;
}

.membros ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.membros li {
    padding: 5px 0;
    font-size: 16px;
    color: #e1c49a;
}

.membros li strong {
    font-size: 18px;
    color: #f7dcb6;
}




.noticias {
    padding: 50px 20px;
    text-align: center;
    background-color:#3e2203;
}

.noticias h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color:#ffe4c3;
}

.news-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.noticias-card {
    min-width: 150px;
    max-width: 250px;
    margin: 0 10px;
    padding: 10px;
    background-color:#5b3813;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.noticias-card img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 10px 10px 0 0;
    opacity: 0.4;
}
 
.noticias-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.noticias-card a {
    text-decoration: none;
    color: #ffe4c3;
}

.noticias-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}




.card img {
    max-width: 100%;
    height: auto;
}

.content {
    margin-top: 30px;
    background-color: #9f744e;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.testimonials, .about {
    padding: 50px 20px;
    text-align: center;
}

.testimonials p {
    margin: 10px 0;
}

.about img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}



/* CSS para a seção da Cartilha */
.cartilha {
    padding: 50px 20px;
    background-color:#4b2e10;
    text-align: center;
}

.cartilha h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color:#e1c49a;
}

.cartilha-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Para ajustar em telas menores */
}

.cartilha-image img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartilha-content {
    max-width: 600px;
    text-align: left;
}

.cartilha-content p {
    font-size: 16px;
    line-height: 1.5;
    color:#e1c49a;
    margin-bottom: 10px;
}

.cartilha-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #703b12;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cartilha-link:hover {
    background-color: #5a2e0e;
}

