<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração - Gerenciar Denúncias</title>
    <link rel="stylesheet" href="../static/css/adm.css">
</head>

<body>
    <div class="container">
        <h2>Administração - Gerenciar Denúncias</h2>
        <table>
            <thead>
                <tr>

                    <th>Usuário</th>
                    <th>Tipo de Denúncia</th>
                    <th>Status</th>
                    <th>Denúncia</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for denuncia in denuncias %}
                <tr>
                    <td>{{ denuncia[0] }}</td>
                    <td>{{ denuncia[1] }}</td>
                    <td>{{ denuncia[2] }}</td>
                    <td>{{ denuncia[3] }}</td>
                    <td>{{ denuncia[4] }}</td>
                    <td>{{ denuncia[5] }}</td>
                    <td>
                        <form action="{{ url_for('atualizar_denuncia', denuncia_id=denuncia[0]) }}" method="post" style="display:inline;">
                            <select name="status_denuncia_id">
                                <option value="1" {% if denuncia[3] == 'Pendente' %}selected{% endif %}>Pendente</option>
                                <option value="2" {% if denuncia[3] == 'Em Andamento' %}selected{% endif %}>Em Andamento</option>
                                <option value="3" {% if denuncia[3] == 'Concluído' %}selected{% endif %}>Concluído</option>
                            </select>
                            <button type="submit" class="action-btn">Atualizar Status</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
