<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neabi ifcm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="menu-desktop">
            <nav class="nav1">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo do Neabi">
                </div>
                <ul class="menu">
                    <li><a href="#sobre">SOBRE O NEABI</a></li>
                    <li><a href="#noticias">NOTÍCIAS</a></li>
                    <li><a href="#cartilha">CARTILHA</a></li>
                    <li><a href="/loginU">DENÚNCIAS</a></li>
                </ul>

                <button onclick="animar()" id="btn-menu">
                    <span class="linha"></span>
                    <span class="linha"></span>
                    <span class="linha"></span>
                </button>
            </nav>
        </div>

        <div class="menu-mobile" id="menu-mobile">
            <nav class="nav2">
                <a href="#sobre">SOBRE O NEABI</a>
                <a href="#noticias">NOTÍCIAS</a>
                <a href="#cartilha">CARTILHA</a>
                <a href="/formcadastroU">DENÚNCIAS</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>NEABI</h1>
            <h2 class="subtitulo">NÚCLEO DE ESTUDOS AFRO-BRASILEIROS E INDÍGENAS</h2>
            <a href="https://www.instagram.com/neabiifcm/" target="_blank" class="hero-button">Visite nosso Instagram | @neabiifcm</a>
            <img src="{{ url_for('static', filename='img/imagem_hero.png') }}" alt="Imagem do Hero">
        </section>

        <section class="sobre" id="sobre">
            <div class="sobre-container">
                <h2>SOBRE O NEABI</h2>
                <p>
                    O Núcleo de Estudos Afro-Brasileiros e Indígenas (Neabi) foi constituído no IFRN em 2011 pelo Conselho Superior de Ensino, Pesquisa e Extensão (Consepex). O Núcleo visa valorizar as diversas manifestações culturais de etnias e segmentos sociais, contribuindo para a ampliação do debate das políticas de ações afirmativas e de promoção da igualdade étnico-racial. 
                    <a class="saiba_mais" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTYzNzg1NzMwMzU2ODgz?igsh=cHRzcXZnZTB1cnp5">Saiba mais sobre o NEABI clicando aqui!</a>
                </p>
                <p>
                    O Neabi é responsável por fomentar e promover ações de natureza sistêmica no âmbito do Ensino, Pesquisa e Extensão, que promovam o cumprimento efetivo da Lei 10.639/2003, da Lei 11.654/2008 e das demais.
                </p>
                <a href="pdf/portaria_neabi.pdf" target="_blank" class="sobre-button">Confira a portaria do NEABI/CM aqui</a>
            </div>
        </section>

        <section class="noticias" id="noticias">
            <h2>NOTÍCIAS</h2>
            <div class="news-carousel">
                <div class="noticias-card">
                    <a href="https://www.instagram.com/neabiifcm/" target="_blank">
                        <img src="{{ url_for('static', filename='img/imagem1.png') }}" alt="Notícia 1">
                        <h3>Inscrições para bolsas</h3>
                    </a>
                </div>
                <div class="noticias-card">
                    <a href="https://www.instagram.com/neabiifcm/" target="_blank">
                        <img src="{{ url_for('static', filename='img/imagem2.png') }}" alt="Notícia 2">
                        <h3>Projeto de pesquisa atual</h3>
                    </a>
                </div>
                <div class="noticias-card">
                    <a href="https://www.instagram.com/neabiifcm/" target="_blank">
                        <img src="{{ url_for('static', filename='img/imagem3.png') }}" alt="Notícia 3">
                        <h3>Grupo Samaúma</h3>
                    </a>
                </div>
                <div class="noticias-card">
                    <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDI1MzMyOTMxNzY4NDIz?igsh=MTV2dW41dHV0NGJ2eg==" target="_blank">
                        <img src="{{ url_for('static', filename='img/imagem4.png') }}" alt="Notícia 4">
                        <h3>Eventos</h3>
                    </a>
                </div>
                <div class="noticias-card">
                    <a href="https://www.instagram.com/neabiifcm/" target="_blank">
                        <img src="{{ url_for('static', filename='img/imagem5.png') }}" alt="Notícia 5">
                        <h3>Seja um voluntário</h3>
                    </a>
                </div>
            </div>
        </section>

        <section class="cartilha" id="cartilha">
            <div class="cartilha-container">
                <div class="cartilha-image">
                    <img src="{{ url_for('static', filename='img/capa.png') }}" alt="Capa da Cartilha">
                </div>
                <div class="cartilha-content">
                    <h2>(Re)conhecer para Combater</h2>
                    <p class="convite"> <strong> Conheça a cartilha: "(Re)conhecer para combater":</strong></p>
                    <p>
                        Este material foi desenvolvido pela aluna Jessica do Nascimento Vicente, concluinte do curso de informática do IFRN/CM e membro discente do NEABI/CM. O intuito da cartilha é promover a conscientização e o conhecimento sobre o e a violência étnico-racial na escola. Aborda questões importantes de maneira educativa, lúdica, acessível e com exemplos contemporâneos.
                    </p>
                    <a href="pdf/Cartilha Violência racial e racismo na escola.pdf" target="_blank" class="cartilha-link">Leia a Cartilha</a>
                </div>
            </div>
        </section>

        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo do Neabi">
                </div>
                <div class="footer-info">
                    <h3>Entre em contato com o NEABI</h3>
                    <p>Email: neabiifcm@gmail.com</p>
                    <p>Instagram: <a href="https://www.instagram.com/neabiifcm/" target="_blank">@neabiifcm</a></p>
                </div>
                <div class="footer-developer">
                    <h3>Este site foi desenvolvido por:</h3>
                    <p><strong>Jessica do Nascimento Vicente</strong></p>
                    <p>Email: n.jessv0@gmail.com</p>
                    <p>Instagram: @jessicavicente__</p>
                    <p><strong>Raul Gabriel da Cruz Soares Moreira da Silva</strong></p>
                    <p>Email: rauljju0@gmail.com</p>
                    <p>Instagram: @rauldcrz</p>
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/animar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
