<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuário</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('login_usuario') }}" method="POST">
            <div>
                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" required>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        
        <p>Ainda não tem uma conta? <a href="{{ url_for('form_cadastro') }}">Cadastre-se aqui</a></p>
        <a href="http://cm.ifrn.edu.br/neabi">Ir Para a Página Inicial</a>
    </div>
</body>
</html>
